.header {
  background-color: #228b22;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.links {
  display: flex;
}

.link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
}

.link:hover {
  color: #c3e8c3; 
}
